html {
  font-size: 18px;
  font-family: helvetica, sans-serif;
}
/*
body {
  width: 960px;
  display: flex;
  margin: auto;
}
*/
.full-width {
  width: 100%;
}

.site-width {
  width: 960px;
  margin: 0 auto;
}

.title {
  background-color: black;
  color: white;
  display: flex;
  padding: .66rem 0;
}

.title img {
  height: 1.5rem;
  padding: 0 .5rem 0 1rem;
}

.moto {
  width: 960px;
  background-image: url(../images/moto.jpeg);
  height: 25rem;
  background-size: cover;
}

.moto-text {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 2rem 3rem;
  font-weight: bold;
  width: 20rem;
  margin-top: 9rem;
}

.moto-text h1 {
  font-size: 2rem;
}

nav {
  background-color: firebrick;
}

nav ul {
  display: flex;
}

nav a {
  text-decoration: none;
  color: white;
  justify-content: space-between;
}

footer {
  background-color: black;
}
